extends layout

block content
  h1 Register
  form(method='POST', action='/users/register')
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=name)
    #form-group
      label Email:
      input.form-control(name='email', type='text', value=email)
    #form-group
      label Username:
      input.form-control(name='username',type='text', value=username)
    #form-group
      label Password:
      input.form-control(name='password',type='password', value=password)
    #form-group
      label Confirm:
      input.form-control(name='password2',type='password',value=password2)
    br
    input.btn.btn-primary(type='submit',value='Submit')
